@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Global Styles and Components */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 16px 35px;
    border-radius: 8px;
    background: #E55473;
    border: 2px solid #E55473;
    color: #fff;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    color: #E55473;
    background-color: transparent;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2rem;
}

.section-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/* Nav Section */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.logo {
    color: #272727;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.logo span {
    color: #E55473;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

nav li {
    list-style: none;
}

nav ul a {
    color: #111010;
    text-decoration: none;
    text-transform: uppercase;
    padding: .8rem 1rem;
}

nav ul a:hover {
    color: #fff;
    background-color: #E55473;
    border-radius: .2rem;
}

/* Hero Section */
.hero {
    padding-top: 4rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content {
    width: 50%;
    margin-bottom: 4rem;
}

.hero .hero-img {
    max-width: 480px;
    margin-bottom: 0;
}

.hero h1 {
    color: #272727;
    font-family: Lato;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
}

.hero p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1rem;
}

/* Featured Section */
.features {
    margin-top: 5rem;
}

.features .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.feature img {
    background-color: aquamarine;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 2rem 2rem 0 2rem;
    width: 90%;
    height: 400px;
}

.feature:nth-child(1) img {
    background-color: rgba(167, 33, 98, 0.15);
}

.feature:nth-child(2) img {
    background-color: rgba(5, 151, 160, 0.15);
    padding-bottom: 6rem;
}

.feature:nth-child(3) img {
    background-color: rgba(71, 125, 17, 0.15);
}

.feature a {
    display: block;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1.5rem;
}

/* Support */
.support {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    padding: 2rem 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1200px;
}

.support-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Deal */
.deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-content {
    width: 50%;
    text-align: center;
}

/* instagram */
.instagram {
    margin-top: 4rem;
}

.instagram img {
    max-width: 280px;
}

.instagram .container {
    gap: 10px;
    justify-content: center;
}

/* Subscribe */
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    color: #fff;
    background: url(./img/Rectangle\ 9.png);
    width: 100%;
    padding: 4rem 0;
}

.subscribe input {
    padding: 1.1rem 0;
    padding-right: 15rem;
    padding-left: 1rem;
    border: none;
    border-radius: .3rem;
    outline: 2px solid #fff;
}

.subscribe [type="text"] {
    margin-right: 1rem;
}

input:focus {
    outline: 2px solid #E55473;
}

/* Footer */
footer {
    text-align: center;
    color: #fff;
    background: #111010;
    padding: 2rem 0;
}

footer h1 {
    margin-bottom: 1.5rem;
}

footer p {
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.90);
}

footer p:nth-child(3) {
    color: rgba(255, 255, 255, 0.40);
}

footer span {
    color: #E55473;
}